<!-- Page -->
<div class="page animsition vertical-align" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle">
        <header>
            <h1 class="animation-slide-top">401</h1>
            <p>Permiso Insuficiente !</p>
        </header>
        <p class="error-advise">Si es un error, por favor contacte a su administrador</p>
        <a class="btn btn-primary btn-round" href="@Url.Action("Dashboard","Home")">Ir al Inicio</a>
    </div>
</div>
<!-- End Page -->